<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AnimeAffinity"
        tools:targetApi="31">
        <activity
            android:name=".TokyoRevengers"
            android:exported="false" />
        <activity
            android:name=".TateNoYuusha"
            android:exported="false" />
        <activity
            android:name=".SpyXFamily"
            android:exported="false" />
        <activity
            android:name=".Shingeki"
            android:exported="false" />
        <activity
            android:name=".OnePiece"
            android:exported="false" />
        <activity
            android:name=".Masamune"
            android:exported="false" />
        <activity
            android:name=".Jujutsu"
            android:exported="false" />
        <activity
            android:name=".GoblinSlayer2"
            android:exported="false" />
        <activity
            android:name=".DrStone"
            android:exported="false" />
        <activity
            android:name=".HoriActivity"
            android:exported="false" />
        <activity
            android:name=".RegistroActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>